body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #fff;
}
img{
    transform: scale(0.5);
}
.wallpaper{
    padding: 14vh 15% 60vh 15%;
    background-color: #68cdd5;
}
.titlelogo{
    text-align: center;
}
.backbutton{
    position: absolute;
    left: 0;
    top: 0;
}
.content>p{
    margin: 10vh 0 15vh 0
}
.group{
    float: left;
    text-align: center;
}
.group>img{
    margin: 0 0 -5vh 0;
}
.putaotenglogo{
    float: right;
    text-align: center;
}
.putaotenglogo>img{
    margin: 0 0 -5vh 0;
}