html{
    font-size: 100px;
    background-color: #f0f0f0;
}
* {
    padding: 0;
    margin: 0;
}
header{
    padding: 0 8vw;
    color: #29b078;
    font-size: .15rem;
    height: .4rem;
    line-height: .4rem;
}
nav{
    padding: 0 8vw;
    height: .8rem;
    background-color: #29b078;
    color: #fff;
}
section{
    margin-top: 4rem;
    padding: 1rem 8vw 0 8vw;
    background-color: #fafafa;
}
.footer_nav{
    padding: 0 8vw;
}
footer{
    /*height: 1.6rem;*/
    padding: .2rem 8vw .2rem 8vw;
    background-color: #26a26f;
    color: #eaf4ef;
}
a{
    height: 100%;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img{
    transform: scale(0.5);
}
.row{
    margin: 0;
    padding: 0;
    height: 100%;
}
/*以上是全局样式*/
.header_btn_list{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
}
.header_btn{
    margin-right: .05rem;
    background: url("../img/index/qqwechatsina.png") no-repeat;
    background-size: .276rem .9rem;
    vertical-align: middle;
    width: .276rem;
    height: .3rem;
    border: none;
}
.wechat{
    background-position: 0 0;
}
.qq{
    background-position: 0 -.3rem;
}
.sian{
    background-position: 0 -.6rem;
}
/*以上是顶部样式*/
.nav_list{
    display: flex;
    flex-direction: row-reverse;
}
.nav_a{
    font-size: 0;
}
.nav_btn{
    font-size: .15rem;
    box-sizing: border-box;
    height: .8rem;
    line-height: .8rem;
    width: .8rem;
    color: #fff;
    background-color: transparent;
    border: none;
}
.nav_btn:hover{
    border-bottom: .04rem #fefefe solid;
    text-decoration: none;
}
/*以上是导航栏样式*/
.carousel{
    position: absolute;top: 1.2rem;
    width: 100%;
    /*opacity: 0.88;*/
    /*z-index: 1;*/
}
.item{
    background: url("../img/index/background.png") no-repeat;
    background-size: 100% 4rem;
    width: 100%;
    height: 4rem;
}
.carousel_arrow{
    font-size: .5rem;
    color: #7a7c86;
    line-height: 4rem;
}
.carousel_text{
    position: absolute;
    top: 2.2rem;left: 16vw;
    display: inline-block;
    height: 2rem;
    color: #fff;
    font-size: .25rem;
    text-align: right;
}
.carousel_title{
    font-weight: bold;
}
.carousel_content{
    font-size: .4rem;
    font-weight: 300;
}
.huge_number{
    font-size: .7rem;
}
/*以上是轮播图的样式*/
.rocket{
    text-align: center;
    padding: 0 .2rem;
}
.rocket_img{
    height: .6rem;
    line-height: .6rem;
}
.rocket_title{
    color: #333;
    font-weight: bold;
    margin-bottom: .2rem;
}
.rocket> .rocket_cotent{
    text-align: left;
    color: #999;
}
.people{
    border-right: 1px dashed #dedede;
}
.user_statistics{
    padding: .3rem .2rem;
    color: #999;
}
.user_number{
    margin: .1rem 0;
    height: .15rem;
    line-height: .15rem;
    background: url("../img/index/user.png") no-repeat ;
    background-position: 0 0;
    background-size: .15rem .15rem;
    color: #26a26f;
    font-size: .15rem;

}
.step_title{
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    color: #333;
    font-size: .13rem;
}
.step{
    display: flex;
    margin-bottom: .6rem;
}
.step_number{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    border: 1px #999 solid;
    border-radius: 2.5rem;
    background-color: #fff;
    color: #29b078;
    font-size: .15rem;
    text-align: center;
    flex-shrink: 0;
}
.step_content{
    padding: 0.12rem .1rem 0 .1rem;
    display: inline-block;
    color: #999;
    font-size: .1rem;
    flex-shrink: 1;
}
.step_arrow{
    position: absolute;left: -.1rem;top: .14rem;
    background: url("../img/index/arrow.png") no-repeat;
    background-size: .2rem .2rem;
    width: .2rem;
    height: .2rem;
    font-size: 0;
}
.student{
    box-sizing: border-box;
    padding: .1rem .2rem;
    background-color: #fff;
    border: 2px solid #eeeded;
    border-radius: 5px;
    box-shadow: #eeeded;
}
.student_photo{
    margin: 0 auto;
    background: url("../img/index/tom.png") no-repeat;
    background-size: 2rem 2rem;
    height: 1rem;
    width: 1rem;
}
.student_photo-1{
    background-position: -1rem -1rem
}
.student_photo-2{
    background-position: -1rem 0;
}
.student_photo-3{
    background-position: 0 0;
}
.student_photo-4{
    background-position: 0 -1rem;
}
.student_name{
    margin: .2rem 0;
    text-align: center;
    color: #333;
    font-size: .15rem;
}
.student_introduction{
    color: #999;
    font-size: .12rem;
}
.small_point_list{
    display: flex;
    justify-content: center;
}
.small_point {
    margin: .1rem .05rem;
    width: .1rem;
    height: .1rem;
    border-radius: .05rem;
    border: 1px #e4e4e4 solid;
    background-color: #fff;
}
.small_point:hover{
    background-color: #29b078;
}
.company_list{
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
}
.company{
    padding: .4rem 0;
    /*align-items: center;*/
    background-color: #fff;
    flex-basis: 25%;
}
.company_photo{
    max-width: 60%;
    max-height: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.company:hover{
    border: 2px #f5f5f5 solid;
    box-shadow: 5px 5px 5px 5px #f5f5f5;
}
.link_title{
    margin: .1rem 0;
    text-align: center;
    color: #333;
    font-size: .13rem;
}
.friendship_link{
    display: flex;
    flex-wrap: wrap;
}
.link{
    color: #999;
    height: .3rem;
    line-height: .3rem;
    flex-basis: 10%;
}
.link_point{
    font-size: .2rem;
}
/*以上是中间的内容*/
.footer_part{
    height: .8rem;
    font-size: 0;
}
.footer_title{
    font-size: .12rem;
}
.footer_link_left{
    display: inline-block;
    margin-top: .5rem;
    padding: 0 .05rem;
    height: .12rem;
    line-height: .12rem;
    font-size: .09rem;
    color: #dfeee7;
}
.contact_us{
    border-left: 1px #fff solid;
    border-right: 1px #fff solid;
}
.footer_link_right{
    display: inline-block;
    height: .2rem;
    margin-top: .15rem;
    margin-right: .1rem;
    font-size: .09rem;
    color: #dfeee7;
}
.footer_link_right:hover{
    border-bottom: #fff 1px solid;
}
.qrcode{
    background: url("../img/index/qrcode.png") no-repeat;
    background-size: .7rem .7rem;
    width: .7rem;
    height: .7rem;
    font-size: 0;
}
.license_plate{
    position: relative;bottom: 0;
    padding: .03rem 0;
    text-align: center;
    color: #32c086;
    font-size: .08rem;
    border-top: 1px #32c086 solid;
    background-color: #26a26f;
}