@import "../base/header";
@import "../base/nav";
@import "../base/section";
@import "../base/footer";
@import "../components/side-nav";
@import "../components/reset";
@import "../components/arrow";
@import "../components/triangle";
@import "../components/circle";
header{
  @include header;
  margin-bottom: .6rem;
}
a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
section{
  width: 100%;
  background-color: #f0f0f0;
  //transform: translateX(0px);
  transition: transform 400ms ease;
}
.section-content{
  padding: .1rem .2rem;
  text-align: center;
}
.recent-game{
  position: relative;
  height: .6rem;
  line-height: .6rem;
  text-align: center;
  font-size: .18rem;
  color: #9a9a9a;
  background-color: #fff;
  border: #c9c9c9 1px solid;
  display: block;
}
.arrow {
  position: absolute ;
  right: .1rem;
  top: .17rem;
  @include arrow;
}
.article_title{
  margin-top: .15rem;
  height: .6rem;
  line-height: .6rem;
  font-size: .18rem;
  border: 1px #c9c9c9 solid;
  border-bottom: #fdd793 2px solid;
  background-color: #fff;
  color: #fbb435;
}
.ariticle{
  position: relative;
  padding: 0 .4rem;
  color: #787878;
  border: 1px #c9c9c9 solid;
  border-top: none;
  background-color: #fff;
}
.start_btn{
  margin: .15rem 0;
  background-color: #69d1e9;
  color: #fff;
  border: none;
  height: .8rem;
  line-height: .8rem;
}
.circle_list{
  margin: .08rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.circle{
  @include circle;
}
.circle_active{
  @include circle;
  background-color: #69d1e9;
}
.triangle{
  position: absolute;top: 39%;right: -.1rem;
  @include triangle;
}