*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 100px;
}
body{
  font-size: .16rem;
}
$background: #5fc0cd;
header{
  position: fixed;top: 0;left: 0;right: 0;
  padding-left: .1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: .4rem;
  background-color: $background;
  color: #f3f4f5;
  div{
    a{
      text-decoration: none;
      span{
        display: inline-block;
        width: .1rem;
        height: .1rem;
        border-left: 2px #fff solid;
        border-bottom: 2px #fff solid;
        transform: rotate(45deg);
      }
    }
  }
}
nav{
  margin-top: .4rem;
  height: 1.45rem;
  background: url("img/background_02.png") no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div{
    img{
      margin-left: .2rem;
      width: .8rem;
      height: .8rem;
    }
    .name{
      padding-right: .1rem;
      font-size: .18rem;
    }
    .addres{
      margin-top: .12rem;
      padding-left: .15rem;
      height: .15rem;
      font-size: .12rem;
      background: url("img/address.png") no-repeat ;
      background-size: .11rem .13rem;
    }
  }
}
.title{
  padding-left: .1rem;
  border-bottom: #e1e5e7 solid;
  height: .4rem;
  line-height: .4rem;
  span{
    padding-left:  .1rem;
    border-left: $background .05rem solid ;
  }
}
main{
  padding: 0 .16rem;
  font-size: .14rem;
  border-bottom: #e1e5e7 solid;
  div{
    padding: 0 .1rem;
    height: .4rem;
    line-height: .4rem;
    border-bottom: #e1e5e7 solid;
    div{
      height: 100%;
    }
    .left{
      color: #999;
      border-right: #e1e5e7 2px solid;
      padding-right: .16rem;
    }
    .right {
      padding-left: .16rem;
      height: 100%;
    }
    .star{
      padding-left: .28rem;
      background: url("img/star.png") scroll left center no-repeat;
      background-size: .2rem .2rem;
      color: #333;
    }
  }
  .introduce{
    display: flex;
    align-items: center;
    height: auto;
    border: none;
    .column{
      padding-right: .16rem;
      height: .2rem;
      line-height: .2rem;
      white-space: nowrap;
      color: #999;
      border-right: #e1e5e7 2px solid;
    }
    .skill{
      padding: .1rem 0 .1rem .2rem;
      line-height: normal;
    }
  }
}
.price> .right{
  color: red;
}
.blank{
  height: .5rem;
}
footer {
  position: fixed;left: 0;right: 0;bottom: 0;
  height: .5rem;
  background-color: #fff;
  .message{
    float: left;
    width: 47%;
    height: 80%;
    margin: .05rem 1.5% .05rem 1.5%;
    background-color: #fff;
    color: $background;
    text-align: center;
    outline: none;
    border: solid $background;
    border-radius: .05rem;
  }
  .tel{
    @extend .message;
    float: right;
    background-color: $background;
    color: #fff;
  }
}


