html {
  font-size: 100px; }

body {
  font-size: .16rem; }

* {
  padding: 0;
  margin: 0; }

button {
  outline: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 .2rem;
  height: .5rem;
  background-color: #5fc0cd;
  color: #f3f4f5;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .top-btn {
    margin: .045rem 0;
    font-size: 0;
    width: 1.6rem;
    background-color: #55a8b3;
    border-radius: 5px; }
    header .top-btn .top-btn-left, header .top-btn .top-btn-right {
      width: .8rem;
      height: .4rem;
      font-size: .16rem;
      color: #fff;
      background-color: transparent;
      border: none;
      border-radius: 5px; }
    header .top-btn .top-btn-right {
      background-color: #fff;
      color: #5fc0cd; }
  header .address {
    background: url("img/address-list.png") no-repeat left center;
    width: .2rem;
    height: .2rem; }

nav {
  position: fixed;
  top: .5rem;
  left: 0;
  right: 0;
  height: .45rem;
  border-bottom: #e1e5e7 1px solid;
  background-color: #fff;
  z-index: 999999;
  display: flex; }
  nav div {
    flex-grow: 1; }
  nav .drop-down {
    position: relative;
    height: 100%; }
    nav .drop-down .drop-btn {
      width: 100%;
      height: 100%;
      background-color: #fff;
      color: #afbac0;
      font-size: .16rem;
      border: none; }
    nav .drop-down .drop-down-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
      nav .drop-down .drop-down-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
    nav .drop-down .triangle {
      position: absolute;
      right: .08rem;
      top: 0;
      margin-top: .15rem;
      font-size: .1rem;
      color: #afbac0; }
  nav .drop-down:hover .drop-down-content {
    display: block; }

.middle-list {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  box-sizing: border-box;
  background-clip: padding-box,border-box;
  background-origin: padding-box,border-box;
  background-image: linear-gradient(#fff, #fff), linear-gradient(white, gainsboro, white);
  flex-grow: 0; }

section {
  margin-top: .95rem; }
  section a {
    display: block;
    text-decoration: none; }
    section a div {
      border-bottom: #e1e5e7 2px solid;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      section a div div {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: .9rem;
        border: none; }
        section a div div div {
          width: 100%;
          text-align: left; }

.service-date, .service-address {
  display: block;
  padding-left: .2rem;
  margin-left: .4rem;
  height: .3rem;
  line-height: .3rem;
  font-size: .1rem;
  color: #999;
  letter-spacing: 1px;
  background: url("img/date.png") scroll left center no-repeat;
  background-size: .12rem .15rem; }

.service-address {
  background: url("img/location.png") scroll left center no-repeat;
  background-size: .12rem .15rem; }

.date {
  margin-left: .6rem;
  display: block;
  color: #333;
  height: .3rem;
  line-height: .3rem;
  font-size: .13rem; }

.arrow {
  margin-top: .01rem;
  margin-left: .1rem;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: #5fc0cd 3px solid;
  border-right: #5fc0cd 3px solid;
  transform: rotate(45deg); }

.price {
  padding: 0 .15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: red;
  font-size: .11rem; }

.blank {
  height: .38rem; }

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: .6rem;
  background-color: #f8fafb;
  border-top-color: #e2eaec;
  display: flex;
  justify-content: space-around; }
  footer .home, footer .mine {
    margin-top: .1rem;
    width: .5rem;
    height: .2rem;
    font-size: .12rem;
    color: #5fc0cd;
    text-align: center;
    background: url("img/home.png") no-repeat center top;
    background-size: .3rem .3rem;
    padding-top: .3rem; }
  footer .mine {
    color: #999;
    background: url("img/mine.png") no-repeat center top;
    background-size: .3rem .3rem; }
  footer .edit {
    width: .6rem;
    height: .6rem;
    background: url("img/edit.png") no-repeat center;
    background-size: .6rem .6rem; }

/*# sourceMappingURL=list.css.map */
